<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>实名认证</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="keywords" content="webpack4">
  <meta name="description" content="实名认证">
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="renderer" content="webkit">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="x5-fullscreen" content="true" />
  <meta name="full-screen" content="yes">
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
  <div class="certification-container module-core">
    <!-- 头部步骤条 -->
    <div class="js-crumbs"></div>
    <!-- 步骤一 -->
    <div class="content content-one">
      <!-- 表单 -->
      <div class="form-wrapper card shadow">
        <form>
          <div class="form-item border-bottom-1px">
            <span class="label">卡ICCID</span>
            <input id="input_iccid" type="text" name="iccid" autocomplete="off" placeholder="请输入ICCID卡号（必填）">
            <span class="close-icon iconfont-guanbi"></span>
          </div>
          <div class="form-item border-bottom-1px">
            <span class="label">身份证姓名</span>
            <input id="input_name" type="text" name="name" autocomplete="off" placeholder="请输入姓名（必填）">
            <span class="close-icon iconfont-guanbi"></span>
          </div>
          <div class="form-item border-bottom-1px">
            <span class="label">身份证编号</span>
            <input id="input_code" type="text" name="code" autocomplete="off" placeholder="请输入身份证编号（必填）">
            <span class="close-icon iconfont-guanbi"></span>
          </div>
          <div class="form-item">
            <span class="label">手机号码</span>
            <input id="input_phone" type="text" name="phone" autocomplete="off" placeholder="请输入手机号码（必填）">
            <span class="close-icon iconfont-guanbi"></span>
          </div>
<!--           <div class="form-item">
            <span class="label">手机验证码</span>
            <input id="input_msg" type="text" name="phone" autocomplete="off" placeholder="请输入验证码（必填）">
            <div class="nav send-code">发送验证码</div>
          </div> -->
        </form>
      </div>
      <!-- 上传照片 -->
      <div class="card shadow" style="margin-top: 0.3rem; padding-bottom: 0.6rem">
        <div class="explain">
          <h4>拍摄要求：</h4>
          <p>1.证件的头像清晰，身份证号码清楚可辨认</p>
          <p>2.必须和手持的身份证为同一身份证</p>
          <p>3.要求原图，无修改，横向拍摄</p>
          <p>4.一张图片只能上传一次，审核未通过的图片不能重复上传</p>
        </div>
        <!-- 身份证正面 -->
        <div class="id_card" style="margin-top: 0.4rem">
          <h4>身份证正面</h4>
          <div class="display-wrapper front-display-wrapper">
            <input id="front-upload" type="file" accept="image/*"></input>
            <canvas id="front-canvas" width="508" height="290"></canvas>
          </div>
        </div>
        <!-- 身份证反正面 -->
        <div class="id_card" style="margin-top: 0.7rem">
          <h4>身份证反面</h4>
          <div class="display-wrapper back-display-wrapper">
            <input id="back-upload" type="file" accept="image/*"></input>
            <canvas id="back-canvas" width="508" height="290"></canvas>
          </div>
        </div>
      </div>
      <div class="nav next">下一步</div>
    </div>
    <!-- 步骤二 -->
    <div class="content content-two" style="display: none">
      <div class="card shadow" style="margin-top: 0.3rem; padding-bottom: 0.6rem; padding-top:0.15rem">
        <div class="tabs one">
          <div class="tab-item tabs-one">图片认证</div>
          <div class="tab-item tabs-two">视频认证</div>
          <div class="line"></div>
        </div>
        <div class="tabs-content one">
          <div class="tab-content one-wrapper">
            <div class="explain">
              <h4>拍摄要求：</h4>
              <p>1.证件的头像清晰，身份证号码清楚可辨认</p>
              <p>2.必须和手持的身份证为同一身份证</p>
              <p>3.要求原图，无修改，横向拍摄</p>
              <p>4.一张图片只能上传一次，审核未通过的图片不能重复上传</p>
            </div>
            <!-- 手持身份证 -->
            <div class="id_card" style="margin-top: 0.4rem">
              <h4>手持身份证照</h4>
              <div class="display-wrapper card-display-wrapper">
                <input id="card-upload" type="file" accept="image/*"></input>
                <canvas id="card-canvas" width="508" height="290"></canvas>
              </div>
            </div>
          </div>
          <div class="tab-content two-wrapper">
            <img class="post" src="../app/assets/images/alignment.png">
            <div class="validate-text-wrapper">
              <div class="text">大声读一遍数字</div>
              <div class="code">唇语获取中...</div>
            </div>
            <p class="explain-text">请使用普通话读数字，保持说话语速正常，发音清晰</p>
          </div>
        </div>
      </div>
      <div class="nav-wrapper one">
        <div class="nav prev">上一步</div>
        <div class="nav next">下一步</div>
        <div class="nav record">开始录制</div>
        <input id="video-upload" type="file" accept="video/*" capture="camera"></input>
      </div>
    </div>
    <!-- 步骤三 -->
    <div class="content content-three" style="display: none">
      <!-- success hadsuccess error errmultiple audit -->
      <div class="result-wrapper success">
        <div class="result suc">
          <img class="post" src="../app/assets/images/success.png">
          <div class="result-text">恭喜您，实名认证成功！</div>
        </div>
        <div class="result hadsuc">
          <img class="post" src="../app/assets/images/success.png">
          <div class="result-text">您已实名了哦！</div>
        </div>
        <div class="result aud">
          <img class="post" src="../app/assets/images/audit.png">
          <div class="result-text">审核中！</div>
           <div class="result-text-sub">人工审核处理中，审核处理需1~3个工作日！</div>
        </div>
        <div class="result errmulti">
          <img class="post" src="../app/assets/images/error.png">
          <div class="result-text">很抱歉，认证失败！</div>
          <div class="result-text-sub" style="text-align: left">连续认证失败，已经为您转人工审核处理，审核处理需1~3个工作日！</div>
          <div class="card shadow result-detail">
            <div class="detail-item one">
              <p>失败原因：</p>
              <div class="text">上传照片不满足相似度要求</div>
            </div>
            <div class="detail-item two">
              <p>失败ID：</p>
              <div class="text">2561</div>
            </div>
          </div>
        </div>
        <div class="result err">
          <img class="post" src="../app/assets/images/error.png">
          <div class="result-text">很抱歉，认证失败！</div>
          <div class="result-text-sub">请确保身份证上传照片完整清晰及信息一致！</div>
          <div class="again-btn">重新认证</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>