@import '../../base/style/border';

.crumbs-component {
  position: relative;
  height: 1.1rem;
  display: flex;
  background: #fff;

  .line {
    width: 66%;
    top: 0.37rem;
    position: absolute;
    height: 0.02rem;
    background: #b2b2b2;
    z-index: 0;
    margin-left: 17%;
  }

  .step {
    flex: 1;
    text-align: center;

    .order {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 0.36rem;
      height: 0.36rem;
      line-height: 0.36rem;
      border-radius: 50%;
      margin: 0.2rem 0 0;

      .cur {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 0.2rem;
        color: #fff;
        background: #b2b2b2;
        border-radius: 50%;
        z-index: 1;

        &.done {
          background-image: linear-gradient(to right, #519ff4, #5168f4);
        }
      }

      .mask {
        position: absolute;
        border-radius: 50%;
        background: #fff;
        width: 0.48rem;
        height: 0.48rem;
        z-index: 0;
        left: -0.06rem;
        top: -0.06rem;
      }
    }

    .text {
      font-size: 0.2rem;
      text-align: center;

      &.done {
        color: #4ca1fe;
      }
    }
  }
}